%section
  .container-fluid
    .row
      .col-sm-8.col-sm-offset-2
        %br
        %br

        %h3
          Conditions d'utilisation utilisateurs et droit d'acces et de rectification des donness
        
        
        %p.small
          Ce service est gratuit pour les utilisateurs et permet aux utilisateurs de trouver les recommandations et les coordonnées de professionnels de santé et/ou professionnels paramédicaux.
        %p.small
          En tant qu’utilisateur, les informations (recommandation + notes sur votre professionnel de santé et/ou professionnel paramedical) portées sur le formulaire de recommandation sont obligatoires si vous souhaitez rejoindre la communauté MereVeilleuse.
        %p.small
          La recommandation et les notes que vous déposerez sur votre professionnel de santé ou votre professionnel paramédical seront visibles au public.
        
        %p.small
          Sachez par ailleurs que la recommandation et les notes que vous déposerez seront adjointes à votre profil sur Facebook, garantissant ainsi la qualité des recommandations.
        %p.small
          Par le biais de votre connection Facebook, et avec votre consentement, nous recueillons également votre adresse mail.
        %p.small
          Toutes ces informations font l’objet d’un traitement informatisé destiné à aider les utilisateurs à trouver des professionnels de santé ou des professionnels paramédicaux recommandés par la communauté. Votre adresse mail est recueillie afin de vous envoyer les recommandations de la communauté et/ou de vos amis. Votre adresse mail est conservée au sein de l’entreprise FST Therapeutes et ne sera ni commercialisée, ni échangée, ni communiquée  d’autres entreprises de quelque nature que ce soit.
        %p.small
          Conformément à la loi "informatique et libertés" du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent. Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant, veuillez vous adresser à FST Therapeutes, #{customer_service}
          
        %br
        
        %h3
          Si vous etes professionnel de sante ou professionnel paramedical
        %p.small
          Ce service est destiné à développer votre réputation de manière positive, en communiquant les recommandations de vos clients ou patients satisfaits.
        %p.small
          Ce service aide également à lutter contre le dépôt d’avis non identifiés en vous permettant ainsi qu’au public de visualiser le profil Facebook de la personne qui a déposée la recommandation.
        %p.small
          Par ailleurs, ce service est mis votre disposition sans frais.
        %p.small
          Néanmoins, vous pouvez vous opposer au dépôt de recommandations des utilisateurs sur simple demande à la société FST Therapeutes, en adressant votre demande à l’adresse : #{customer_service}
        %p.small
          Dans l’hypothèse ou une mauvaise recommandation est déposée sur vous, ou une quelconque information de nature à dévaloriser votre image ou quelconque information qui ne corresponde pas à votre déontologie, vous pouvez déposez une demande de retrait de la dite mauvaise recommandation ou information, sur simple demande à la société FST Therapeutes, en adressant votre demande à l’adresse #{customer_service}.
        
        
        