= render 'shared/header'

%section
  .container-fluid
    .row
      .col-sm-8.col-sm-offset-2
        %h3 
          1. Conditions
        %p
          En accédant à ce site Web, vous acceptez d'être lié par ses conditions générales d'utilisation, toutes les lois et règlements en vigueur, et acceptez que vous êtes responsable du respect des lois applicables dans votre pays. Si vous n’acceptez pas ces termes, vous n'êtes pas autorisé à utiliser ou accéder à ce site. Les informations, photos et tous les éléments contenus dans ce site web sont protégés par droit d'auteur et droit des marques.
        
        %h3
          2. Licence d'utilisation
        
        %p
          a. Il est permis de télécharger temporairement une copie des documents (information ou logiciel) sur le site Web de Mèreveilleuse pour le visionnement transitoire personnel et non-commercial. Ceci est l'octroi d'une licence, non un transfert de titre, et sous cette licence, vous ne pouvez pas:
      
        %ul
          %li 
            i. modifier ou copier les textes, photos et éléments du site
          %li
            ii. utiliser les textes, photos et éléments du site à des fins commerciales ou pour toute exposition publique (commerciale ou non-commerciale);
          %li
            iii. tenter de décompiler ou désosser tout logiciel ou code contenu sur le site Web de Mèreveilleuse;
          %li
            iv. supprimer tout droit d'auteur ou autres mentions de propriété des textes, photos et éléments du site; 
          %li
            v. Enregistrer ou transférer les textes, photos et éléments du site à une autre personne ou effectuer un «miroir» des textes, photos et éléments du site sur un autre serveur.
            
        %p
          b. Cette licence prendra fin automatiquement si vous ne respectez pas ces restrictions et peut être résilié par Mèreveilleuse à tout moment. 
        
        %p
          Lors de la résiliation de votre visionnement de ces textes, photos et éléments du site ou à l'expiration de cette licence, vous devez détruire tout élément téléchargé en votre possession que ce soit en format électronique ou imprimé.
        
        %h3
          3. Disclaimer
        %p
          a. Les élements sur le site Web de Mèreveilleuse sont fournis « en l'état». Mèreveilleuse ne donne aucune garantie , expresse ou implicite , et décline et nie toute autre garantie , y compris, sans limitation, les garanties implicites ou conditions de qualité marchande, d'adéquation à un usage particulier, ou non - violation de la propriété intellectuelle ou autre violation des droits. En outre, Mèreveilleuse ne garantit ni ne fait aucune déclaration concernant l’exactitude, les résultats probables, ou la fiabilité de l'utilisation des éléments sur son site Web Internet ou autrement relatives à ces matières ou sur les sites liés à Mèreveilleuse.
        
        %h3
          4. Limitations
        %p
          En aucun cas Mèreveilleuse ou ses fournisseurs ne seront responsables des dommages (sans limitation, pour tous dommages liés à la perte de données ou de profit, ou en raison de l'interruption de l’activité) découlant de l'utilisation ou de l'impossibilité d'utiliser les éléments présents sur le site Internet de Mèreveilleuse. 
        %p
          Certaines juridictions n’autorisent pas les limitations sur les garanties ou les limitations de responsabilité pour les dommages indirects ou directs, il est donc possible que ces limitations ne s’appliquent pas à vous.
        
        %h3
          5. Révisions et errata
        %p
          Les éléments figurants sur le site Web de Mèreveilleuse pourraient inclure des erreurs techniques, typographiques ou photographiques. Mèreveilleuse ne garantit pas l’exactitude ou la mise à jour des éléments (données, textes, photo) présents sur son site Web. 
        %p
          Mèreveilleuse peut apporter des modifications aux éléments contenus sur son site web à tout moment sans préavis. 
        %p
          Cependant, Mèreveilleuse ne s’engage nullement à mettre à jour ces éléments.
        
        %h3
          6. Liens
        %p
          Mèreveilleuse n'a pas examiné l’ensemble des autres sites reliés à son site Internet et n’est pas responsable pour le contenu de ces autres sites reliés. 
        %p
          L'inclusion du lien d’un site extérieur vers Mèreveilleuse n’implique pas l'approbation par Mèreveilleuse de ce site extérieur. 
        %p
          Mèreveilleuse est nullement responsable concernant l'utilisation de tout site Web exterieur relié à Mèreveilleuse.
        
        %h3
          7. Conditions d'utilisation et de modifications du site 
        %p
          Mèreveilleuse peut réviser les conditions d'utilisation de son site web à tout moment sans préavis. En utilisant le site Mèreveilleuse, vous acceptez d'être lié par la version en vigueur de ces Termes et Conditions d'utilisation.
        
        %h3
          8. Réclamations
        %p
          Le site Mèreveilleuse est soumis à la législation en vigueur en France. Toute réclamation se fera en respect du cadre juridique Français.
        %br
        %br
        %br
