%section
  .container
    .row
      .col-sm-8.col-sm-offset-2
        %br
        %br
        
        %h3 
          Mentions Legales
        %p.small
          Vous êtes connectés sur l’application facebook « Mereveilleuse » éditée par FST Therapeutes, société à responsabilité limitée, ayant pour numéro unique d’identification 802 511 360 et dont le siège social est 55, Avenue Marceau, 75116 PARIS . 
        %p.small
          FST Therapeutes est spécialisée dans le secteur d'activité de la programmation informatique, et la mise à disposition de contenus auprès du public. 
        %p.small
          Le directeur de la publication est Thibaut Fitoussi. 
        %p.small
          Le site Mereveilleuse.com est hébergé par : 
        
        %p.small
          %br
          OVH SAS 
          %br
          140 Quai du Sartel 
          %br  
          59100 Roubaix – France          