%table.container
  %tr
    %td
      %table.row
        %tr
          %td.wrapper.last
            %table.twelve.columns
              %tr
                %td
                  %p
                    Bonjour #{@user.fullname},
                  %p
                    Nous vous confirmons que vous êtes bien désinscrite de la newsletter MèreVeilleuse.
                  %p
                    Vous pouvez toujours effectuer des recherches et recommander des professionnels de santé et paramédical sur MèreVeilleuse.
                  %br
                  %p
                    A bientôt,

                %td.expander