Bonjour #{@user.fullname},

Nous vous confirmons que vous êtes bien désinscrite de la newsletter MèreVeilleuse.

Vous pouvez toujours effectuer des recherches et recommander des professionnels de santé et paramédical sur MèreVeilleuse.


A bientôt,