// *************************************
//
//   Helpers
//   -> Extends, Functions, Mixins, Animations
//
// *************************************

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.text-center {
  text-align: center !important;
  float: none !important;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.bold {
  font-weight: 600 !important;
}

.normal {
  font-weight: 300 !important;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.no-margin       { margin: 0 !important; }
.no-padding      { padding: 0 !important; }
.no-top-padding  { padding-top: 0 !important; }
.no-top-margin   { margin-top: 0 !important; }

@mixin border-radius($radius) {
  @include border-top-radius($radius);
  @include border-bottom-radius($radius);
  @include border-left-radius($radius);
  @include border-right-radius($radius);
}
