// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************

// ----- Base Colors ----- //
$primary-color:             #f16272; 
$secondary-color:           #000000; 
$alternate-color:           #000000;
$minor-color:               #000000; 


$information-color:         #f2cc62;
$warning-color:             #fe7979;
$success-color:             #58d08b;

$light-color:               #ffffff;
$dark-grey-color:           #666666;
$dark-color:                #333333;

$primary-action-color:      #337ab7;
$secondary-action-color:    #dddddd;

// ----- Bootstrap Settings ----- //

//$grid-gutter-width:    0;