// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************

// ----- Base Colors ----- //

$information-color:         #f2cc62;
$warning-color:             #fe7979;
$success-color:             #58d08b;

// ----- Bootstrap Settings ----- //

//$grid-gutter-width:    0;