// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************

// ----- Base Colors ----- //
$primary-color:               #f16272; 
$secondary-color:             #2fc1f8; 
$alternate-color:             #f7f7f7;
$minor-color:                 #000000; 
  
$information-color:           #f2cc62;
$warning-color:               #fe7979;
$success-color:               #58d08b;
  
$light-color:                 #ffffff;
$dark-grey-color:             #666666;
$dark-color:                  #333333;
$muted-color:                 #b9b9b9;
  
$primary-action-color:        #f16272;
$secondary-action-color:      #2fc1f8;
$alternate-action-color:      #a9a9a9;

$primary-background-color:    #f7f7f7;
$secondary-background-color:  #ffffff;
$alternate-cbackground-color: #ececec;

$heading-color:               #555555;

$transparent-color:           transparent;  

$google-color:                #4d4f54;
$twitter-color:               #63cdf1;
$facebook-color:              #507cbe;
$instagram-color:             #c7c5b3;

$border-color:                #ececec;

// ----- Bootstrap Settings ----- //
$navbar-border-radius:               0;
$navbar-default-bg:                  $transparent-color;
$navbar-height:                      70px;

$navbar-default-link-color:          $dark-color;
$navbar-default-link-hover-color:    $dark-grey-color;

$input-border-radius:                3px;
$input-border-focus:                 $primary-action-color;
$input-bg:                           $alternate-cbackground-color;
$input-border:                       transparent;
$input-color-placeholder:            $muted-color;

$font-family-sans-serif:             'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-family-serif:                 'Merriweather', serif;   

// ----- Custom Settings ----- //

