// *************************************
//
//   State
//   -> Collapsed, Active
//
//   State rules are ways to describe how our modules or layouts 
//   will look when in a particular state. Is it hidden or expanded? 
//   Is it active or inactive?
//
// *************************************

input[data-error], select[data-error], textarea[data-error] {
  border-color: $warning-color !important;
}

label[data-error] {
  color: $warning-color !important;
}

.active {
  .nav-pills & a {
    background-color: transparent !important;
    color: $heading-color !important;

    &:after {
      visibility: visible;
      opacity: 1;
    }
  }
}

