.page-transition#page-transition-pages
  %section.cover.text-center.cover-mobile-recommendation
    .mobile-stretch-page  
      .height-10-percent
      %header.color-light.flex-item-push
        .attention
          %h1.attention-header
            Aidez une maman
          %h1.attention-header
            et une maman
          %h1.attention-header
            vous aidera
          
          .attention-body
            En laissant une recommandation ou en invitant
            une autre maman, vous accéderez à l’ensemble
            des services de la communauté et vous aidez
            toutes les autres maman du Club ;-)
            
      
      %footer
        .container  
          = link_to 'Je suis prête à aider', new_registration_path, class: 'btn btn-primary btn-block', id: 'new_registration'
          %br
