html, body, #main {
  height: 100%;
  background: #333;
}

select {
  font-size: 20px !important;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  font-size: 20px !important;
}

input, select, textarea {
  @include placeholder {
    color: $muted-color  !important;
    text-align: left;
  }
}

i {
  font-style: normal;
}

.container {
  padding: 0 6px;
}

.form-control {
  height: 50px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $muted-color !important;
  @include transition(none)
  
}

.form-group.validation-error input, .form-group.validation-error select {
  border: 3px solid $primary-color !important;
}


.flex-container {
  height: 100%;
  
  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include align-items(stretch);
  @include align-content(center);
  @include justify-content(space-around);
}

.container-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container-narrow {
  padding: 0 10px;
}

.flex-item {
  @include flex(0 1 auto);
}

.flex-item-push {
  @include flex(1);
}

.mobile-stretch-page {
  @extend .flex-container;
}

.mobile-stretch-wrapper {
  @extend .flex-item;
  height: 100%;
}

.mobile-stretch-content {
  @extend .no-margin;
  @extend .flex-item;
}

.mobile-stretch-form {
  height: 100%;
  
  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include align-items(stretch);
  @include align-content(center);
  @include justify-content(space-between);
}

.mobile-stretch-form-field {
  @include flex(0 1 auto);
  height: auto;
}

.cover-mobile-landing {
  @include background-image(image-url('mobile/background-landing.jpg'));
}

.cover-mobile-recommendation {
  @include background-image(image-url('mobile/background-recommendation.jpg')); 
}

.cover-mobile-invite {
  @include background-image(image-url('mobile/background-invite.jpg')); 
}

.cover-mobile-search {
  @include background-image(image-url('mobile/background-search.jpg')); 
}

.page-1 {
  background: #0ac2d2;
}

.page-2 {
  background: #7bb7fa;
}

.page-3 {
  background: #60d7a9;
}

.page-4 {
  background: #16A2DF;
}

.page-5 {
  background: #fd6a62;
}

.page-6 {
  background: #f68dbb;
}