html, body, #main {
  height: 100%;
  background: #333;
}

h1, h2, h3, p {
  color: #fff;
}

.page-1 {
  background: #0ac2d2;
}

.page-2 {
  background: #7bb7fa;
}

.page-3 {
  background: #60d7a9;
}

.page-4 {
  background: #fdc162;
}

.page-5 {
  background: #fd6a62;
}

.page-6 {
  background: #f68dbb;
}