= content_for :marketing_pixels do
  = render 'shared/facebook_conversion_pixel'

%section
  = render 'navs/submenu', active: 'recommendation'

  .container-fluid
    .row  
      .col-sm-8.col-sm-offset-2
        .space-xs-40
        = render 'form', path: recommendations_path 
        .space-xs-40
