*******************************
* Cet email a été envoyé à #{@user.email}. 
* Cliquez ici pour vous désinscrire.
* #{@user.unsubscribe_account_url}
* twitter  https://twitter.com/Mere_veilleuse_
* facebook https://www.facebook.com/communaute.mereveilleuse
*******************************