*******************************
* Cet email a été envoyé à #{@user.email}. 
* Cliquez ici pour vous désinscrire.
* #{unsubscribe_account_url(@user.login_token)}
* twitter  https://twitter.com/Mere_veilleuse_
* facebook https://www.facebook.com/communaute.mereveilleuse
*******************************