*******************************
* Cet email a été envoyé à #{@user.email}. 
* Cliquez ici pour vous désinscrire.
* #{canvas_unsubscribe_account_path(@user)}
* twitter  https://twitter.com/Mere_veilleuse_
* facebook https://www.facebook.com/communaute.mereveilleuse
*******************************