%table.container
  %tr
    %td
      %table.row.header
        %tr
          %td.wrapper.last
            %table.twelve.columns
              %tr
                %td.center
                  %center
                    = image_tag 'mereveilleuse.jpg', class: 'center'
                    %br
                    = image_tag 'group-of-mothers.jpg', class: 'center'
                %td.expander