.page-transition#page-transition-pages
  .page-transition-page.page-transition-page-current{ data: { animation: 'pushBottomPullTop' } }
    %section.cover.text-center
      .container.flex-container
        .flex-container.flex-item
          .flex-item
            %h2 Identity

          .flex-item
            = link_to 'Identity with Facebook', "/auth/facebook?registration_type=#{@registration_type}", class: 'btn btn-primary', id: 'registration-signature'
