.page-transition#page-transition-pages
  .page-transition-page.page-transition-page-current{ data: { animation: 'pushBottomPullTop' } }
    %section.cover.text-center.background-light
      .mobile-stretch-page 
        .height-20-percent
        .flex-item-push
          %h2 Identity
          %p
            Loreum ipsum blurg domimsum et alimu
        .container.height-30-percent
          = link_to "/auth/facebook?registration_type=#{@registration_type}", class: 'btn btn-social btn-facebook', id: 'registration-signature' do
            %i.icon-facebook  
            Identity with Facebook
          %div
            %small
              We don't do sketchy shit
          
            