.page-transition#page-transition-pages
  .page-transition-page.page-transition-page-current{ data: { animation: 'pushBottomPullTop' } }
    %section.cover.text-center.cover-mobile-invite
      .mobile-stretch-page  
        .height-10-percent
        %header.color-light.flex-item-push
          .attention
            %h1.attention-header
              Mes amies  
            %h1.attention-header
              auraient besoin de
            %h1.attention-header
              MèreVeilleuse
            .attention-body
              J'aide mes amies à trouver les meilleures adresses santé en leur faisant connaître MèreVeilleuse

        %footer
          .container 
            = react_component('FacebookInviteButton', 
                app_id: ENV['FACEBOOK_APP_ID'],
                value: 'Invitez une maman',
                message: "J'aide mes amies à trouver les meilleures adresses santé en leur faisant connaître MèreVeilleuse",
                class: 'btn btn-primary btn-block',
                redirect: registration_identity_path(registration_type: 'invite'))

          %small.color-light
            = link_to "Non, pas encore. J'ai une recommandation", new_registration_path, id: 'registration-back'

    