.page-transition#page-transition-pages
  .page-transition-page.page-5.page-transition-page-current{ data: { animation: 'pushBottomPullTop' } }
    %section.cover.text-center
      .container
        .row
          .col-sm-12
            %h2
              Je connais mamans qui on des bons plans
            %p
              Invite
            = react_component('FacebookInviteButton', 
                app_id: ENV['FACEBOOK_APP_ID'],
                value: 'Invite bitch',
                message: 'Hello come',
                class: 'btn btn-primary',
                redirect: registration_identity_path(registration_type: 'invite'))
            
            %p
              = link_to 'Go Back', root_path, class: 'btn btn-primary', id: 'registration-back'
