%section
  = render 'navs/submenu', active: 'recommendation'

  .container-fluid
    .row  
      .col-sm-8.col-sm-offset-2
        .space-sm-40
        = render 'recommendations/form', path: registration_path 
        .space-xs-40