:javascript 
  window.is_canvas = function() {
    var e, ref;
    try {
      return (ref = window.self !== window.top) != null ? ref : {
        "true": false
      };
    } catch (_error) {
      e = _error;
      return true;
    }
  };

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '#{ENV['FACEBOOK_APP_ID']}',
      xfbml      : false,
      cookie     : true,
      status     : true,
      version    : 'v2.2'
    });

    
    if(window.is_canvas()) {
      FB.Canvas.setAutoGrow(91);
      FB.Canvas.scrollTo(0,0);
    }
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));



  