%footer
  .container
    .row
      .col-md-6.desktop-text-left
        .footer-item
          Made with &#9829; by FST
          = copyright
      .col-md-6.desktop-text-right
        .footer-item
          = link_to t('footer.legal'), legal_path
          = link_to t('footer.conditions'), conditions_path


