%section.cover.cover-landing 
  .container
    .jumbotron-transparent.text-center.no-top-padding
      = render 'navs/main'
     
      .space-xs-20
  
      .row
        .col-sm-8.col-sm-offset-2
          %h2= t('header.registrations.title_html') 
          %p.normal= t('header.registrations.subtitle')
  
      .space-sm-30.space-xs-10