.remodal{ 'data-remodal-id' => 'modal' }
  %h3.normal= t('search.success.title')
  %h4.normal= t('search.success.subtitle')
  %br
  
  = link_to t('search.success.action'), '#', class: 'btn btn-primary btn-block'
 
  %p.small= t('search.success.information')