Bonjour #{@user.fullname},

Les MèreVeilleuses vous ont envoyé leurs recommandations pour votre recherche, maintenant c’est à votre tour d’être MèreVeilleuse :)

*******************************
Recommander un professionnel de santé.
#{new_recommendation_url(token: @user.login_token)}
*******************************

Votre avis est important pour aider les mamans à faire les bons choix santé pour elles et leurs enfants