%section
  .jumbotron.text-center
    %h1 Mèreveilleuse
    %h2= t('recommendation.header.title') 

%section
  .container-fluid
    .row
      .col-sm-12
        %p= t('recommendation.form.title')
    
    .row  
      .col-sm-6
        Hello
      .col-sm-6
        Hello
