%nav.navbar.navbar-default{role: 'navigation'}
  .container-fluid
    .navbar-header
      %a.navbar-brand{ href: '#' } 
        = brand

    .navbar-collapse.collapse#collapse-1
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to t('nav.main.blog'), 'http://blog.mereveilleuse.com/', target: '_blank'
        %li
          = link_to t('nav.main.help'), new_help_path