%nav.navbar.navbar-default{role: 'navigation'}
  .container-fluid
    .navbar-header
      %a.navbar-brand{ href: '#' } 
        = brand

    .navbar-collapse.collapse#collapse-1
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to t('nav.main.blog'), '#'
        %li
          = link_to t('nav.main.help'), '#'