- if current_user.try(:registered?) 
  %section
    .container
      %ul.nav.nav-pills.nav-justified
        %li{ role: 'presentation', class: ('active' if (active == 'invite') )}
          = link_to t('nav.submenu.invite'), '#', id: 'invite'
        %li{ role: 'presentation', class: ('active' if (active == 'recommendation') )}
          = link_to t('nav.submenu.recommend'), new_recommendation_path
        %li{ role: 'presentation', class: ('active' if (active == 'search') )}
          = link_to t('nav.submenu.search'), new_search_path