- if current_user.try(:registered?) 
  %section
    .container
      %ul.nav.nav-pills.nav-justified
        %li{ role: 'presentation', class: ('active' if (active == 'invite') )}
          = react_component('FacebookInviteButton', 
              value: t('nav.submenu.invite'),
              message: t('invite.message'))
        %li{ role: 'presentation', class: ('active' if (active == 'recommendation') )}
          = link_to t('nav.submenu.recommend'), new_recommendation_path
        %li{ role: 'presentation', class: ('active' if (active == 'search') )}
          = link_to t('nav.submenu.search'), new_search_path