/*doc
---
title: Components
name: components
category: components
---

General UI components specific to the application

*/

/*doc
---
title: Browser mockup
name: components-1
category: components
parent: components
---

```haml_example
  .browser-mockup
    %img{scr='http://placehold.it/500x300/fff/eee'}

  .browser-mockup.browser-mockup-with-url
    %img{scr='http://placehold.it/500x300/fff/eee'}

```
*/

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  position: relative;
  border-radius: 3px 3px 0 0;
  
  background-color: $light-color;
  border-color: #ddd;
  width: 100%;
  height: 400px;
  display: inline-block;

  img {
    width: 100%;
  }
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

/*doc
---
title: Rating Selector
name: components-2
category: components
parent: components
---

```haml_example
  

```

*/
.rating-input {
  margin:5px rem(12px) 0 0;
  display: inline-block;

  input[type="radio"] {
    visibility: hidden;
    position: absolute;
  }
  
  input[type="radio"] + label {
    color: #333;  
  }
  
  input[type="radio"] + label span {
    display:inline-block;
    width: 54px;
    height: 54px;
    margin: 0px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
  }
  
  @mixin rating-values() {
    @for $i from 0 through 4 {
      
      input[type="radio"] + label .rating-#{$i} {
        @include background-image(image-url('#{$i}-rating.png')); 
      }
      
      input[type="radio"]:checked + label .rating-#{$i} {
        @include background-image(image-url('#{$i}-rating-checked.png'));
      }

      input[type="radio"]:hover:checked + label .rating-#{$i} {
        @include background-image(image-url('#{$i}-rating-checked.png'));
      }

      input[type="radio"]:hover + label .rating-#{$i} {
        @include background-image(image-url('#{$i}-rating-hover.png'));
      }

      //.space-#{$prefix}-#{$i * 10} { height: #{$i * 10}px; }
    }
  }

  @include rating-values();
}



