/*doc
---
title: Flash Notification
name: flash-1
category: flash
---

```haml_example
.flash-notification.alert
  .flash-icon
  .flash-message
    Hello World 
  

.flash-notification.notice
  .flash-icon
  .flash-message
    Hello World
```
*/

.flash-notification {
  @include border-radius(0);
  width: 100%;
  height: 72px;
  display: table;
  padding-right: 10px !important;
  text-align: center;

  &.alert {
    background-color: $warning-color;
    margin-bottom: 0;
    color: $light-color;
  }

  &.notice {
    margin-bottom: 0;
    background-color: $success-color;
    color: $light-color;
    line-height: 72px;
  }
}


