/*doc
---
title: Jumbotron
name: jumbotron
category: jumbotron
---

```haml_example
.container
  .jumbotron
    %h1 Hello World H1
    %h2 Hello World H2
    %h3 Hello World H3
    %p 
      This is a simple hero unit, a simple jumbotron-style component for 
      calling extra attention to featured content or information.
    %dl
      %dt Sit sane 
      %dd Quis enim potest ea, quae probabilia videantur ei.
```
*/

.jumbotron {
  margin-bottom: 0 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;

  h1 {
    font-size: rem(48px);
  }
  
  h2 {
    font-size: rem(42px);
  }
  
  h3 {
    font-size: rem(30px);
  }
  
  h4 {
    font-size: rem(24px);
  }

  p {
    font-size: rem(18px);
  }

}


/*doc
---
title: Jumbotron Transparent
name: jumbotron-2
category: jumbotron
parent: jumbotron
---

```haml_example
.container
  .jumbotron.jumbotron-transparent
    %h1 Hello, world!
    %p 
      This is a simple hero unit, a simple jumbotron-style component for 
      calling extra attention to featured content or information.
    %dl
      %dt Sit sane 
      %dd Quis enim potest ea, quae probabilia videantur ei.
```
*/

.jumbotron-transparent {
  background-color: $transparent-color;
  color: $dark-color;
}

/*doc
---
title: Jumbotron Primary
name: jumbotron-3
category: jumbotron
parent: jumbotron
---

```haml_example
.container
  .jumbotron.jumbotron-primary
    %h1 Hello, world!
    %p 
      This is a simple hero unit, a simple jumbotron-style component for 
      calling extra attention to featured content or information.
    %dl
      %dt Sit sane 
      %dd Quis enim potest ea, quae probabilia videantur ei.
```
*/

.jumbotron-primary {
  background-color: $primary-color;
  color: $light-color;
}

