// Sensible Defaults
.twitter-typeahead {
  background-color: transparent;
}

.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint {
  
}

.twitter-typeahead .tt-hint {
  color: $muted-color;
}

.twitter-typeahead .tt-suggestion > p {
  font-weight: 300 !important;

  strong {
    font-weight: 600;
  }
}

.twitter-typeahead .tt-suggestion > p:hover {
  background-color: $primary-action-color !important;
  cursor: pointer;
}

.tt-dropdown-menu {
  @include border-radius($input-border-radius);
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: -4px;
  border: 1px solid $input-border;
  width: 100%;
}

