.page-transition#page-transition-pages
  .page-transition-page.page-3.page-transition-page-current{ data: { animation: 'pushBottomPullTop' } }
    %section.cover.text-center
      .container
        .row
          .col-sm-12
            %h2
              Results
            %p 
              blah bla

            %p
              = link_to 'Do another search', new_search_path, class: 'btn btn-primary'