.page-transition#page-transition-pages
  .page-transition-page.page-3.page-transition-page-current{ data: { animation: 'pushBottomPullTop' } }
    %section.cover.text-center
      .mobile-stretch-page 
        .height-20-percent
        .flex-item-push
          .container
            %h2.color-light 
              Merci
            %br
            %h4.color-light
              Notre algorithme recherche les meilleurs resultats.  Nous vous envoyons un email avec notre sélection d'adresses trés rapidement. 
             

        .container.height-30-percent
          = link_to 'Faites une autre recherche', new_search_path, class: 'btn btn-primary', id: 'search-commit'
          
        