// *************************************
//
//   Base
//
//   Base rules are the defaults. They are almost exclusively single element selectors
//   but it could include attribute selectors, pseudo-class selectors, child selectors
//   or sibling selectors. Essentially, a base style says that wherever this element
//   is on the page, it should look like this.
//
// *************************************


body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100% !important;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

img {
  float: none !important;
}

table.container {
  display:block !important;
  max-width:580px !important;
  width: 580px;
  padding: 10px;
  margin:0 auto !important; /* makes it centered */
  clear:both !important;
  background-color: $light-color;
}

i {
  font-style: normal;
}

label {
  font-weight: 300;
  font-size: 13px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

hr {
  background-color: $primary-background-color;
}


