/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */
a {
  color: $primary-action-color;
  text-decoration: underline;
}

.btn {
  @include border-radius($input-border-radius);
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 17px;

  &:focus, &:hover, &:active, &:active:focus {
    outline: none;
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn-primary {
  border-bottom-width: 3px;
  border-top: 0;
  border-color: darken($primary-action-color,20%);
  background-color: $primary-action-color;
  color: $light-color !important;

  &:focus, &:hover, &:active, &:active:focus {
    border-color: $primary-action-color;
    background-color: darken($primary-action-color,5%);
    color: $light-color !important;;
  }
}

.btn-secondary {
  border-bottom-width: 3px;
  border-top: 0;
  border-color: darken($secondary-action-color,20%);
  background-color: $secondary-action-color;
  color: $light-color !important;

  &:focus, &:hover, &:active, &:active:focus {
    border-color: $secondary-action-color;
    background-color: darken($secondary-action-color,10%);
    color: $light-color !important;;
  }
}

.btn-alternate {
  border-bottom-width: 3px;
  border-top: 0;
  border-color: darken($alternate-action-color, 10%);
  background-color: $alternate-action-color;
  color: $light-color !important;
  font-size: 13px !important;

  &:focus, &:hover, &:active, &:active:focus {
    border-color: $alternate-action-color;
    background-color: lighten($alternate-action-color,10%);
    color: $light-color !important;;
  }
}

.btn-sm {
  padding-top: 12px !important;
  padding-bottom: 10px !important;
  font-size: 14px !important;
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}