%icon-stroke-icons {
  font-family: Pe-icon-7-stroke;
  font-size: 30px;
  line-height: 1;
}

%icon-fontawesome {
  font-size: 30px;
  font-family: FontAwesome;
  line-height: 1;
}

/*doc
---
title: Sizes
name: icon-1
category: icons
parent: icon
---

```haml_example
%i.icon-carret.icon-xs
%i.icon-carret.icon-sm
%i.icon-carret
%i.icon-carret.icon-lg
%i.icon-carret.icon-xl
```
*/

.icon-xs {
  font-size: 14px;
}


.icon-lg {
  font-size: 30px;
}

.icon-square {
  width: 60px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
}

.icon-round {
  @include border-radius(50%);
  padding: 0;
  display: inline-block;
  width: 66% !important;

  @media only screen and (min-width: 599px) {
    width: 52px !important;
    height: 52px !important;
  }


  @media only screen and (max-width: 600px) {
    width: 150px !important;
    height: 150px !important;
  }
}

