%meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0' }
%meta{ charset: 'utf-8' }

// pinterest validation
%meta{ name: 'p:domain_verify', content: '1d2cb4c7e477e53011111a1df5e3de4a' }

= csrf_meta_tags