%meta{ property: 'og:title',       content: t('open_graph.title') }
%meta{ property: 'og:description', content: t('open_graph.description') }
%meta{ property: 'og:site_name',   content: t('open_graph.site_name') }
%meta{ property: 'og:image',       content: image_url('mereveilleuse-badge-300x300.jpg') }
%meta{ property: 'fb:app_id',      content: ENV['FACEBOOK_APP_ID'] }  